* {
    color: #595959;
    font-family: 'Lato', sans-serif;
}

li {
    border: none !important;
    font-size: 10.5px !important;
    color: #595959;
}

a {
    text-decoration: none !important;
    color: #595959;
}

.nav-link {
    color: #F2B035;
}

h5 {
    color: #595959;
}